$primary: (
  50 : #fdf2e7,
  100 : #fbdfc2,
  200 : #f9ca9a,
  300 : #f6b571,
  400 : #f4a552,
  500 : #f29534,
  600 : #f08d2f,
  700 : #ee8227,
  800 : #ec7821,
  900 : #e86715,
  A100 : #ffffff,
  A200 : #ffeee5,
  A400 : #ffcdb2,
  A700 : #ffbc98,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$accent: (
  50 : #fdf2e7,
  100 : #fbdfc2,
  200 : #f9ca9a,
  300 : #f6b571,
  400 : #f4a552,
  500 : #f29534,
  600 : #f08d2f,
  700 : #ee8227,
  800 : #ec7821,
  900 : #e86715,
  A100 : #ffffff,
  A200 : #ffeee5,
  A400 : #ffcdb2,
  A700 : #ffbc98,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$warn: (
  50 : #fbeded,
  100 : #f6d1d1,
  200 : #f0b3b3,
  300 : #e99494,
  400 : #e57d7d,
  500 : #e06666,
  600 : #dc5e5e,
  700 : #d85353,
  800 : #d34949,
  900 : #cb3838,
  A100 : #ffffff,
  A200 : #ffe2e2,
  A400 : #ffafaf,
  A700 : #ff9696,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$app-primary: mat-palette($primary);
$app-accent: mat-palette($accent, A200, A100, A400);
$app-warn: mat-palette($warn);
